.positioned {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-kerning: none;
  font-variant-ligatures: none;
  font-synthesis: none;
  -webkit-font-smoothing: none;
}

.positioned[data-font="default"] {
  font-size: var(--ui-text-size, var(--ui-text-default-size));
  line-height: var(--ui-text-size, var(--ui-text-default-size));
}

.positioned[data-font="mini"] {
  font-size: var(--ui-text-mini-size);
  line-height: var(--ui-text-mini-line);
}

.miniLatin,
.miniCjk {
  line-height: var(--ui-text-mini-line);
}

.miniLatin {
  font-size: var(--ui-text-mini-cjk-size);
  font-family: sans-serif;
}

.miniCjk {
  font-size: var(--ui-text-mini-cjk-size);
}

.miniGlyph {
  display: inline-block;
  vertical-align: top;
}
