.root {
  min-width: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 26px;
  padding: 0 7px;
}
.extra {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
.body {
  min-width: 0;
}
