.separator {
  position: relative;
  display: block;
  overflow: hidden;
  pointer-events: none;
  transform-origin: top left;
}

.artwork {
  position: absolute;
  inset: 0 auto auto 0;
  display: block;
  pointer-events: none;
}

.labelFace {
  position: absolute;
}
